* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(189, 224, 255);
  font-family: sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1.5em;
  align-items: center;
  gap: 1.5em;
  padding: 1em;
}

.qr-image {
  max-width: 100%;
  height: auto;
  border-radius: 1.5em;
  max-width: 20em;
}

.qr-title {
  text-align: center;
  max-width: 10em;
}

.qr-description {
  text-align: center;
  max-width: 18em;
  color: rgb(157, 156, 156);
  margin-bottom: 1em;
}

.qr-code {
  width: 20em;
  border-radius: 1.5em;
}
